# --- دیپلوی قرارداد ---
PRIVATE_KEY=your_deployer_wallet_private_key_never_commit_this
POLYGON_AMOY_RPC_URL=https://rpc-amoy.polygon.technology
POLYGON_MAINNET_RPC_URL=https://polygon-rpc.com
POLYGONSCAN_API_KEY=your_polygonscan_api_key

FEE_RECEIVER_ADDRESS=0x951399D0BE17396C99E5a2c6aDDDfE9d58C8AB14
USDT_ADDRESS=0xc2132D05D31c914a87C6611C10748AEb04B58e8
FEE_MATIC=1
FEE_USDT=5

# --- بک‌اند ---
PORT=3001
POLYGON_RPC_URL=https://polygon-rpc.com
FACTORY_ADDRESS=0xYourDeployedFactoryAddress
FACTORY_DEPLOY_BLOCK=0
