node_modules/
.env
cache/
artifacts/
site/dist/
# Local Netlify folder
.netlify
verify-ERC20Template.sol
scripts/get-impl.cjs
scripts/set-fee.cjs
.wrangler/
youtube/client_secret.json
youtube/tokens.json
youtube/daily_out/
youtube/daily_frames/
youtube/daily_audio/
youtube/daily_log.txt
youtube/run_daily.bat
scripts/config.json
polymint_motivational.mp4
polymint_reels.mp4
polymint_reels_EN.mp4
polymint_reels_EN_fix.mp4
polymint_reels_fix.mp4


__pycache__/
*.pyc
